// Catppuccin Theme Color Palette

// Red
$red-light: #ea999c;
$red-dark: #e64553;

// Pink
$pink-light: #f4b8e4;
$pink-dark: #ea76cb;

// Purple
$purple-light: #b4befe;
$purple-dark: #7287fd;

// Blue
$blue-light: #8caaee;
$blue-dark: #1e66f5;

// Teal
$teal-light: #81c8be;
$teal-dark: #179299;

// Green
$green-light: #a6d189;
$green-dark: #40a02b;

// Yellow
$yellow-light: #e5c890;
$yellow-dark: #df8e1d;

// Orange
$orange-light: #ef9f76;
$orange-dark: #fe640b;

// Grey
$grey-050: #f5f7fd;
$grey-100: #ebeffb;
$grey-150: #e1e6f8;
$grey-200: #d7def6;
$grey-250: #cdd6f4;
$grey-300: #bac2de;
$grey-350: #a6adc8;
$grey-400: #9399b2;
$grey-450: #7f849c;
$grey-500: #6c7086;
$grey-550: #585b70;
$grey-600: #45475a;
$grey-650: #313244;
$grey-700: #1e1e2e;
$grey-750: #1B1B2A;
$grey-800: #181825;
$grey-850: #13131E;
$grey-900: #161622;
$grey-950: #11111b;

// White
$white: #cdd6f4;

// Black
$black: #11111b;

// Button
$button-close: if($variant == 'light', $red-dark, $red-light);
$button-max: if($variant == 'light', $green-dark, $green-light);
$button-min: if($variant == 'light', $yellow-dark, $yellow-light);

// Link
$links: if($variant == 'light', $blue-dark, $blue-light);

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
