// Default Theme Color Palette Everforest
// Red
$red-light: #E67E80;
$red-dark: #F85552;

// Pink (missing on Everforest - taken from Gruvbox)
$pink-light: #D3869B;
$pink-dark: #B16286;

// Purple
$purple-light: #D699B6;
$purple-dark: #DF69BA;

// Blue
$blue-light: #7FBBB3;
$blue-dark: #3A94C5;

// Teal (aqua)
$teal-light: #83C092;
$teal-dark: #35A77C;

// Green
$green-light: #A7C080;
$green-dark: #8DA101;

// Yellow
$yellow-light: #DBBC7F;
$yellow-dark: #DFA000;

// Orange
$orange-light: #E69875;
$orange-dark: #F57D26;

// Grey
$grey-050: #FDF6E3;
$grey-100: #F4F0D9;
$grey-150: #EFEBD4;
$grey-200: #E6E2CC;
$grey-250: #E0DCC7;
$grey-300: #B9C0AB;
$grey-350: #9DA9A0;
$grey-400: #859289;
$grey-450: #7A8478;
$grey-500: #4F5B58;
$grey-550: #444F4F;
$grey-600: #394445;
$grey-650: #2E383C;
$grey-700: #272E33;
$grey-750: #22282C;
$grey-800: #1E2326;
$grey-850: #181c1e;
$grey-900: #121517;
$grey-950: #0c0e0f;

// White
$white: #D3C6AA;

// Black
$black: #1E2326;

// Button
$button-close: if($variant == 'light', $red-dark, $red-light);
$button-max: if($variant == 'light', $green-dark, $green-light);
$button-min: if($variant == 'light', $yellow-dark, $yellow-light);

// Link
$links: if($variant == 'light', $blue-dark, $blue-light);

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
